.page {}

.productsContainer {
   margin-top: 24px;
}

.product {
   display: flex;
   column-gap: 36px;
}

.addonsContainer {
   margin-top: 24px;
}

.addon {
   display: flex;
   column-gap: 36px;
}